@import '~office-ui-fabric-react/dist/sass/References.scss';

.helloWorld {
  .container {
    min-height:350px;
    min-width: auto;
    max-height: 1000px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(206, 31, 31, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    background-image: url('image3.png');
    background-repeat: no-repeat;
    text-align: center;  
    position: relative;
  }
  
  .title {
    color: black;
    font-size: 50px;
    // margin: auto;
    display: block;
    padding-top: 40px;
    padding-bottom: 5px;
  }

  .subTitle {
    @include ms-font-l;
    color: black;
    font-size: 30px;

  }

  .button {
    // Our button
    text-decoration: none;
    min-height: 90px;

    // Primary Button
    min-width: 400px;
  
    position: absolute; 
    bottom: 0;
    background-color: #F1572C;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;
    right: 200px;
    // Basic Button
    outline: transparent;
    // position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    // font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: 25px;
      // min-height: 32px;
       line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
      max-width: 200px;
      
    }
  }
}
